<body id="home">
  <h1 class="home_title">blu's ranch and rescue</h1>
  <div id="spacing" style="position:absolute; top:0; left:0; bottom:0; right:0; overflow:auto;">
  <div style="height:1000px; background-color:white">
      <span id="large">About Blu's Ranch</span><br><br><span id="small">Blu's Ranch is a small ranch in Utah that has upscale, high quality Nigerian Dwarf dairy goats. Blu's Ranch is an active member of ADGA, UDGA and AGS.</span>
    </div>
  </div>
</div>
</body>
