<body id="juniors">
  <h1 class="juniors_title">Junior Goats</h1>

    <% @juniors.each do |junior| %>

      <%= image_tag('junior.jpg', :width =>'200', :class => "round") %>
      <h1><%= link_to junior.name, junior_path(junior), :class => "name_title" %></h1>
      <h4 class="name_title"><%= number_to_currency junior.price %></h4>
      <br><br><br>

    <% end %>

  <% if current_user %>
    <h3><%= link_to 'New Junior', new_junior_path %></h3>
  <% end %>
</body>
