
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 /*// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "homes.scss";
@import "bucks.scss";
@import "juniors.scss";
@import "does.scss";

.footer {
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 60px;
 background-color: #f5f5f5;
 padding: 15px;
}

.center {
  text-align: center;
  font-family: 'Indie Flower';
}

#notice {
  text-align: center;
  font-family: 'Indie Flower';
}

#alert {
  text-align: center;
  font-family: 'Indie Flower';
}

.padding {
  display: inline;
  padding-right: 20px;
}

.flower {
  font-family: 'Indie Flower';
}

.border_form {
  text-align: right;
  margin-right: 900px;
}

.left {
  margin-left: 250px;
  font-family: 'Indie Flower';
}

#fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  }

  #navnumber {
    padding-right: 0px;
  }

  #navitem {
    padding-right: 30px;
  }
