.index_title {
  position: fixed;
  top: 10%;
  left: 50%;
  font-size: 100px;
  font-family: 'Indie Flower';
  color: white;
}

.circle {
  margin-left: 85%;
  border-radius: 50%;
}

.size_show {
  height: 500px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 50%;
}

body#bucks {
  background: url(http://res.freestockphotos.biz/pictures/12/12367-a-black-goat-sticking-its-head-through-a-barn-window-pv.jpg) no-repeat left top fixed;
  -webkit-background-size: 75%;
  -moz-background-size: 75%;
  -o-background-size: 75%;
  background-size: 75%;
}

.buck_name {
  margin-left: 88%;
  font-family: 'Indie Flower';
  text-shadow: 0 0 50px black;
  text-align: center;
}

#black {
  color: black;
}

.left_buck {
  margin-left: 1020px;
  font-family: 'Indie Flower';
  font-size: 25px;
}
