

#home {
  background: image-url("ranch.jpg") no-repeat center top fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.home_title {
  position: fixed;
  color: white;
  font-size: 50px;
  margin-top: 0;
  margin-left: 25%;
  margin-right: 20%;
  font-family: 'Indie Flower'
}

#spacing {
  margin-top: 420px;
  text-align: center;
  font-family: 'Indie Flower'
}

#large {
  font-size: 50px;
}

#small {
  font-size: 30px;
}
