.index_title {
  text-align: center;
  font-size: 100px;
  font-family: 'Indie Flower'
}

.circle {
    border-radius: 50%;
}

.size_show {
  height: 500px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 50%;
}

.center {
  text-align: center;
}
