body#juniors {
  background: url(https://render.fineartamerica.com/images/rendered/medium/greeting-card/images/artworkimages/medium/1/sing-it-again-tc-morgan.jpg) no-repeat center top fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

#juniors_space {
  right: 100px;
}

.juniors_title {
  text-align: center;
  font-size: 100px;
  font-family: 'Indie Flower';
  color: white;
}

.name_title {
  color: white;
  margin-left: 70%;
  font-family: 'Indie Flower';
  text-shadow: 0 0 50px black;
}
