body#juniors {
  background: url(https://render.fineartamerica.com/images/rendered/medium/greeting-card/images/artworkimages/medium/1/sing-it-again-tc-morgan.jpg) no-repeat center top fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
