<body id="does">
<h1 class="does_title">Does</h1>
  <% @does.each do |doe| %>
  <br><br><br><br>
    <%= image_tag('doe.jpg', :width =>'250', :class => "round") %>
    <h1><%= link_to doe.name, do_path(doe), :class => "name_does" %><h1>
    <h3 class="price_does"><%= number_to_currency doe.price %></h3>
  <% end %>
<% if current_user %>
  <h3><%= link_to 'New Doe', new_do_path %></h3>
<% end %>
</body>
