<body id="does">
<h1 class="index_title">Does</h1>
<div class="row">
  <% @does.each do |doe| %>
  <br><br><br><br><br><br><br><br>
    <div class="col-md-4">
      <%= image_tag('doe.jpg', :width =>'150', :class => "circle") %>
      <li><%= link_to doe.name, do_path(doe) %></li>
      <li><%= number_to_currency doe.price %></li>
    </div>
  <% end %>
</div>
<% if current_user %>
  <h3><%= link_to 'New Doe', new_do_path %></h3>
<% end %>
</body>
