<body id="bucks">
  <h1 class="index_title">Bucks</>
  <% if current_user %>
    <span class="left_buck"><%= link_to 'New Buck', new_buck_path %></span></h1>
  <% end %>
    <% @bucks.each do |buck| %>
      <%= image_tag('goat.jpg', :width =>'200', :class => "circle") %>
      <h3 class="buck_name"><%= link_to buck.name, buck_path(buck), :id => "black" %></h3>
      <h3 class="buck_name"><%= number_to_currency buck.price %></h3>
      <br><br>
    <% end %>
</body>
